
<link rel="stylesheet" href="{{ asset('css/style.css') }}">
<div class="test">
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h2 class="masthead-brand"> <a href="{{ path('demo_homepage') }}"> Mediathéque</a></h2>

                    </div>
                </div>

                <div class="inner cover">
                    <h1 class="cover-heading">
                        <p style="color: white">

                            <IMG CLASS="displayed" src="{{ asset('img/Thomas.jpg') }}" alt="" title="" width=100 />
                            Thomas Caron :<br/> thomas.caron70@gmail.com <br/>
                            Entreprise : <IMG  src="{{ asset('img/infitex.png') }}" alt="" title="" width=100 /> <br/> <br/>

                            <IMG CLASS="displayed" src="{{ asset('img/Alexandre.PNG') }}" alt="" title="" width=100/>
                            Alexandre Gambart : gambart.alexandre@gmail.com <br/>
                            Entreprise : <IMG src="{{ asset('/img/bic.png') }}" alt="" title="" width=100 /><br/>
                    </h1>
                    </p>
                    <p class="lead">

                    </p>
                </div>

                <div class="mastfoot">
                    <div class="inner">


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>